<h2>Cálculo CDB</h2>

<form #myform="ngForm" (ngSubmit)="onSubmit(myform)">
  <p>
    <label for="valorInicial">Valor inicial do investimento </label>
    <input type="number" required="required" name="valorInicial" id="valorInicial" placeholder="Valor inicial" ngModel />
  </p>

  <p>
    <label for="qtdeMeses">Prazo em meses para resgate </label>
    <input type="number" required="required" name="qtdeMeses" id="qtdeMeses" placeholder="Prazo" ngModel />
  </p>

  <input type="submit" value="Send" />
  <p>{{mensagemErro}}</p>
</form>

<p>Resultado Bruto: R$ {{ cdbCalculado.resultadoBruto }}</p>
<p>Resultado Líquido: R$ {{ cdbCalculado.resultadoLiquido }}</p>
